header{
   background-color: var(--color-primary);
   height: 60px;
   display: flex;
   align-items: center;
   color: #fff;
   text-decoration: none;
}

.dsmovie-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-decoration: none;
    

}

.dsmovie-nav-content h1 a{ 
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
}


.dsmovie-contact-container{
    display: flex;
    align-items: center;
}

.dsmovie-contact-link{ 
    margin: 0 0 0 10px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    
}

.dsmovie-contact-link a{ 
    margin: 0 0 0 10px;
    color: #fff;
    font-size: 12px;
   
    
}